.task-card {
    max-width:400px;
    margin: 16px;
}
.addButtonFloat {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 9999999;
}

#card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}