<div class="conteiner">
    <h2>Lista Tarefas</h2>

    <div class="card-columns">
        <div class="card" *ngFor='let task of listTasks'>
            <div class="card-body">
                <h5 class="card-title">{{task.title | uppercase}}</h5>
                <p class="card-text">{{task.text}}</p>
                <button class="btn btn-primary" routerLink="/tasksdetail/{{task.id}}">Edit</button>

                <footer class="blockquote-footer">{{task.registerDate | date:'medium'}}</footer>
            </div>
        </div> 
    </div>

<!-- <app-task-detail [task]='selectedTask'></app-task-detail> -->

</div>
