<h2 mat-dialog-title>Create New Task</h2>
<mat-dialog-content>
  <div class="form-container">
    <mat-form-field appearance="standard" hintLabel="Max 40 characters">
      <mat-label>Title</mat-label>
      <input #inputTitle maxlength="40" matInput >
      <mat-hint align="end">{{inputTitle.value?.length || 0}}/40</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Text</mat-label>
      <textarea matInput matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
      <mat-hint>Maybe some angular with material sounds great!</mat-hint>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="secondary">Close</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button [mat-dialog-close]="true" color="primary">Ok</button>
</mat-dialog-actions>