<div class="container-fluid">
<div class="row no-gutters">
  <div class="col-md-2">
<nav class="nav navbar navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/" title="">
                <span class="fa fa-anchor"></span>
                Report
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-fill" routerLink="/tasks" title="">
                <span class="fa fa-archive"></span>
                New
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/users" title="">
                <span class="fa fa-address-book"></span>
                Users
            </a>
        </li>
    </ul>
  </nav>

</div>
<div class="col-md-10">
    <div class="jumbotron">
        <h1 class="display-4">:(</h1>
        <p class="lead">
          This is a <strong>WORK</strong> in progress.
        </p>
        <hr class="my-4">
        <p>I hope to complete this soon...</p>
      </div>
</div>
</div>
</div>