<mat-toolbar role="toolbar" color="primary">
    <button mat-button routerLink="/">
        <mat-icon class="icon">home</mat-icon>
        Market
    </button>
    <button mat-button routerLink="/tasks">
        <mat-icon class="icon">dashboard</mat-icon>
        Tasks
    </button>
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="login()" *ngIf="!isAuthorized">
        <mat-icon class="icon">input</mat-icon>
        Login
    </button>
    <span *ngIf="isAuthorized">{{name}}</span>
    <button mat-button (click)="logout()" *ngIf="isAuthorized">
        <mat-icon class="icon">input</mat-icon>
        Logout
    </button>
</mat-toolbar>
<main>
    <router-outlet></router-outlet>
</main>
<toaster-container [toasterconfig]="config"></toaster-container>
