<div class="dash-box">

  <mat-card class="dash-info">
    <mat-card-content>
      <h1>Market Tools For Market</h1>
    </mat-card-content>
  </mat-card>

  <mat-card class="dash-card">
    <img mat-card-image src="/assets/scrumy.jpg" alt="Posts nad paper">
    <mat-card-content>
      <p>Get to use the best task manager around :) use it with love and care.</p>
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-button>GO</button>
    </mat-card-actions>
  </mat-card>




</div>