/* You can add global styles to this file, and also import other style files */
@import 'node_modules/angular2-toaster/toaster.min.css';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  background: url('/assets/home.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
