<div *ngIf='task' >
    <form>
        <div class="form-group">
            <label for="title">Título</label>
            <input class="form-control" [(ngModel)]="task.title" 
                name="title" id="title" placeholder="Título da tarefa" />

        </div>

        <div class="btn-group" role="group" aria-label="">
                <button class="btn btn-primary">Salvar</button>
                <button class="btn btn-secondary" (click)="goBack()">Volar</button>
        </div>

    </form>
</div>